.productdisplay {
  display: flex;
  margin-top: 100px;
  max-width: 1200px;
  padding: 0 20px;
}

.productdisplay .productdisplay-img {
  flex: 1;
  margin-right: 20px; /* Provide spacing between image and content */
}

.productdisplay .productdisplay-main-img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.productdisplay .productdisplay-right {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.productdisplay h1 {
  font-size: 32px;
  font-weight: 700;
  color: #3d3d3d;
  margin-top: 0;
}

.productdisplay .productdisplay-right-star {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 10px;
}

.productdisplay .productdisplay-right-prices {
  display: flex;
  margin: 10px 0;
  gap: 20px;
  font-size: 22px;
  font-weight: 600;
}

.productdisplay .productdisplay-right-price-old {
  color: #818181;
  text-decoration: line-through;
}

.productdisplay .productdisplay-right-price-new {
  color: #ff4141;
  font-size: 23px;
}

.productdisplay .productdisplay-right-description {
  margin-top: 20px;
  font-size: 16px;
  color: #555;
}

.productdisplay .productdisplay-right button {
  margin-top: auto;
  padding: 15px 40px;
  font-size: 16px;
  font-weight: 600;
  color: white;
  background: #ff4141;
  border: none;
  outline: none;
  cursor: pointer;
}

.productdisplay .productdisplay-right button:hover,
.productdisplay .productdisplay-right button:focus {
  background-color: #e63939;
}

.productdisplay .productdisplay-right-category {
  margin-top: 10px;
  font-size: 16px;
  color: #555;
}

.productdisplay .productdisplay-right-category span {
  font-weight: 600;
}
